---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import ToolTags from "../ToolTags.astro";

interface Props {
    logo: string;
    name: string;
    desc: string;
    link: string;
    tags: string[];
}

const { logo, name, desc, link, tags = [] } = Astro.props;

// To be able to include images from non-public directory
const logo_src = `/src/assets/images/projects/${logo}`;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/images/projects/*.{jpg,jpeg,png}",
);
if (!images[logo_src]) {
    throw new Error(`"${logo_src}" not found in "/src/assets/images/projects/`);
}
---

<div class="project-item">
    <a href={link} class="project-a">
        <div class="project-meta">
            <div class="project-logo">
                <Image src={images[logo_src]()} alt=`${name}'s icon` />
            </div>
            <h3 class="project-name">{name}</h3>
        </div>
        <p class="project-desc">{desc}</p>
        <!-- <ToolTags tags={tags} /> -->
    </a>
</div>

<style>
    .project-item {
        position: relative;
        /* overflow: hidden; */
        flex: 1 1 calc((100% / 3) - 2rem);
        border: 6px solid #131317;
        outline: 1px solid #222228;
        background-color: #111115;
        border-radius: 1rem;
        transition: all 0.3s ease;
    }

    .project-item:hover {
        background-color: #151519;
        outline: 1px solid #252529;
    }

    .project-a {
        /* position: absolute; */
        display: block;
        color: var(--tertiary-color);
        text-decoration: none;
        padding: 1.5rem;
    }

    .project-meta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .project-logo {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        /* margin-bottom: 2.5rem; */
    }

    .project-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.3s ease;
    }

    .project-name {
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: -0.02rem;
    }

    .project-name::after {
        font-family: "vf-icons";
        content: "\e800";
        color: var(--color-secondary);
        display: inline-block;
        font-size: 0.75rem;
        margin-left: 0.5rem;
    }

    .project-desc {
        font-size: var(--font-size-sm);
        color: var(--color-secondary);
        margin-top: 0.5rem;
        line-height: 1.65;
    }

    @media (max-width: 970px) {
        .project-item {
            flex: 1 1 100%;
        }

        .project-meta {
            flex-direction: row;
            align-items: center;
        }

        .project-logo {
            width: 2rem;
            height: 2rem;
        }

        .project-desc {
            display: none;
        }
    }
</style>
