---
import IntroCard from "../components/IntroCard.astro";
import Layout from "../layouts/Layout.astro";
import WorkGrid from "../components/WorkGrid.astro";
import Conway from "../components/Conway.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";

import scopeIllustration from "../assets/images/scope.png";

import satIllust from "../assets/images/falsecolor_sat.jpg";
import hueIllust from "../assets/images/falsecolor_hue.jpg";
import solIllust from "../assets/images/falsecolor_sol.jpg";
import lightIllust from "../assets/images/falsecolor_light.jpg";
import ClientsCarousel from "../components/ClientsCarousel.astro";
import Carousel from "../components/Carousel.astro";
import CarouselItem from "../components/CarouselItem.astro";
import Img from "../components/Img.astro";
import InfiniteCarousel from "../components/InfiniteCarousel.astro";
import Alert from "../components/Alert.astro";
import HeroSlider from "../components/HeroSlider.astro";
import InfCarousel from "../components/InfCarousel.astro";
import InfCarouselItem from "../components/InfCarouselItem.astro";
import Video from "../components/Video.astro";
---

<Layout title="Viktor Fejes">
	<section class="intro">
		<div class="intro-inner">
			<Hero />
		</div>
	</section>
	<section class="new-slider">
		<div class="work-cta">
			<a href="#">View all projects</a>
			<div class="arrow">
				<span>(SCROLL)</span>
			</div>
		</div>
		<InfCarousel itemWidth="55vw" gap={1} speed={0.8}>
			<InfCarouselItem>
				<Img src="gildstudios-acuramdx-1_Zwm7ek.jpg" alt="" dir="" />
			</InfCarouselItem>
			<InfCarouselItem>
				<Video
					src="/videos/gildstudios-bravecto-commercial-30s.mp4"
					formats={["mp4"]}
					autoplay={true}
					muted={true}
					controls={false}
					loop={true}
				/>
			</InfCarouselItem>
			<InfCarouselItem>
				<Img src="gildstudios-myatt-10.jpg" alt="" dir="" />
			</InfCarouselItem>
		</InfCarousel>
	</section>
	<section class="about-cont">
		<div class="about-grid">
			<p class="about-label">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
			</p>
			<div class="about-text">
				<h3>Curiousity drives me — to explore new ways, new tools, new methods.</h3>
				<div class="about-body">
					<div class="left">
						(About me)
					</div>
					<div class="right">
						<p class="highlight">Something. More. Innovate.</p>
						<p>Started my career as a retoucher then incorporated CGI into my toolbox.</span> Thanks to my unquenchable thirst for learning I have been able to keep adapting and improving in my field. This also led to the creation of various tools that make my life easier and my work more precise.</p>

						<a href="#">Let's work together</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="luts">
		<div class="luts-inner">
			<div class="left">
				<h2>When you need to look beyond pixels.</h2>
				<p>High quality, versatile false color utility LUTs developed for efficient and precise image processing and retouching needs.</p>
				<a href="#">Discover utility LUTs</a>
			</div>
			<div class="right">
				<Video
					src="/videos/flora_luts.mp4"
					formats={["mp4"]}
					autoplay={true}
					muted={true}
					controls={false}
					loop={true}
				/>
			</div>
		</div>
	</section>
	<!-- <section class="about">
		<div class="about-wrap">
			<h3>Always learning.<br>Ever improving.</h3>
			<p><span class="highlight">Started my career as a retoucher then incorporated CGI into my toolbox.</span> Thanks to my unquenchable thirst for learning I have been able to keep adapting and improving in my field. This also led to the creation of various tools that make my life easier and my work more precise.</p>
		</div>
	</section> -->
	<section class="tools">
		<div class="tools-inner">
			<div class="tool">
				<div class="illustration side-gradient">
					<div class="lut-panels">
						<div class="lut-panel">
							<Image
								src={hueIllust}
								alt="Scope Illustration"
							/>
						</div>
						<div class="lut-panel">
							<Image
							src={satIllust}
							alt="Scope Illustration"
							/>
						</div>
						<div class="lut-panel">
							<Image
							src={lightIllust}
							alt="Scope Illustration"
							/>
						</div>
					</div>
				</div>
				<h3>False Color LUTs</h3>
				<p>Developed high quality false color utility LUTs for retouchers to help in visualizing different aspects of images.</p>
				<Button light>Learn more</Button>
			</div>
			<div class="tool">
				<div class="illustration">
					<Image
					src={scopeIllustration}
					alt="Scope Illustration"
					/>
				</div>
				<h3>Image scopes</h3>
				<p>Native application to visualize vectorscope, waveform, and parade while interacting with your favorite image processing app.</p>
				<Button light>Learn more</Button>
			</div>
		</div>
	</section>
	<section class="clients">
		<div class="clients-inner">
			<h2>Some of the people I have worked with.</h2>
			<p>Small and large — they are all fantastic.</p>
			<InfiniteCarousel />
		</div>
	</section>
	<section class="physics">
		<div class="physics-inner">
			<h2>Explore simulated physics in your browser</h2>
			<p><span class="highlight">Performant physics library</span> made from scratch for simulations and collisions in games and applications. Written natively in C with a convenient JavaScript port.</p>
			<div class="wip">
				<Alert title="Work In Progress" type="wip">I'm building this website live, so there may be parts that are still under construction, like this one. Please, check back a bit later.</Alert>
			</div>
		</div>
	</section>
	<section class="blog">
		<!-- <h2>Blog</h2> -->
		<!-- <p>Archiving what I learn and find interesting in the form of text and (sometimes interactive) visuals.</p> -->
		<!-- <div class="featured">
			<ul>
				<li>
					<a href="#">
						<h3>Title of the post here</h3>
						<p>A small description of the post that we are linking here. Maybe we do not need anymore...</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>Title of the post here</h3>
						<p>A small description of the post that we are linking here. Maybe we do not need anymore...</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>Title of the post here</h3>
						<p>A small description of the post that we are linking here. Maybe we do not need anymore...</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="more-articles">
			
		</div> -->
	</section>
</Layout>

<style>
	.luts-inner {
		max-width: var(--max-width-xl);
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: 2rem;
	}

	.luts h2 {
		font-size: var(--font-size-4xl);
		line-height: 1.2;
		margin-bottom: 1em;
		max-width: 20ch;
	}

	.luts p {
		font-size: var(--font-size-lg);
		max-width: 40ch;
		color: var(--color-neutral-600);
		line-height: 1.45;
		margin-bottom: 1.5em;
	}

	.luts a {
		font-size: var(--font-size-lg);
		text-decoration: underline;
		text-underline-offset: 0.5em;
	}

	.luts :global(video) {
		border-radius: 1rem;
	}

	.luts {
		padding-left: var(--padding-page-left);
		padding-right: var(--padding-page-right);
		margin-bottom: 8rem;
	}

	.new-slider {
		margin-bottom: 8rem;
	}

	.work-cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        font-size: var(--font-size-lg);
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width-xl);
    }

    .work-cta a {
        text-decoration: underline;
        text-underline-offset: 0.45em;
        word-wrap: nowrap;
    }

	/* TODO: rename this from arrow */
    .arrow {
        display: flex;
        justify-content: flex-end;
    }

	.about-cont {
		max-width: var(--max-width-xl);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12rem;
	}

	.about-grid {
		display: grid;
		grid-template-columns: 0.25fr 1fr;
	}

	.about-text {
		grid-column: 2;
	}

	.about-text h3 {
		font-size: var(--font-size-6xl);
		font-weight: var(--font-weight-medium);
		line-height: 1.2;
		margin-bottom: 2em;
		letter-spacing: var(--letter-spacing-tight);
	}

	.about-label {
		width: 4rem;
	}

	.about-text p {
		font-size: var(--font-size-xl);
		line-height: 1.45;
		opacity: 0.65;
		/* max-width: 45ch; */
		margin-bottom: 3em;
	}

	.about-text p.highlight {
		margin-bottom: 1em;
		opacity: 1;
	}

	.about-body a {
		text-decoration: underline;
		text-underline-offset: 0.5em;
	}
	
	.about-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: var(--font-size-xl);
	}

	.work-slider {
		margin-bottom: 8rem;
	}

	.wip {
		margin-top: 4rem;
		max-width: var(--max-width-sm);
	}

	.intro,
	.about {
		width: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
		/* margin-bottom: 12rem; */
	}

	.intro {
		/* padding-top: 8rem; */
	}
	
	.intro-inner,
	.about-wrap {
		margin: 0 auto;
		max-width: var(--max-width-xl);
		/* max-width: 93.5rem; */
	}

	.work {
		position: relative;
		margin: 0 auto;
		/* padding-left: 5rem; */
		/* padding-right: 5rem; */
		max-width: var(--max-width-lg);
		margin-bottom: 12rem;
	}

	.work-inner {
		overflow: hidden;
		transition: all 0.2s ease-out;
	}

	.work-collapse { max-height: 64rem; }

	.work-more {
		display: flex;
		align-items: end;
		justify-content: center;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20rem;
		background: linear-gradient(transparent, var(--color-neutral-100));
		/* pointer-events: none; */
	}

	.about-wrap {
		display: flex;
		align-items: start;
		justify-content: space-between;

		font-size: var(--font-size-lg);
		color: var(--color-neutral-600);
		line-height: 1.4;
		font-weight: 500;
	}

	.highlight {
		color: var(--color-neutral-900);
	}

	.about-wrap > * {
		max-width: 50%;
	}

	.about-wrap h3 {
		font-size: var(--font-size-4xl);
		font-weight: 600;
		line-height: 1.2;
		color: var(--color-neutral-900);
	}

	.blog p {
		font-size: 1.333rem;
		/* max-width: 50ch; */
		color: rgb(150, 150, 153);
	}

	.blog h2 {
		font-size: 3.157rem;
		margin-bottom: 1.5rem;
	}

	.featured ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.featured ul li {
		margin-bottom: 0.5rem;
	}

	.featured ul li a {
		display: block;
		background: rgb(18, 18, 23);
		border-radius: 0.5rem;
		padding: 1.5rem;
		text-decoration: none;
	}

	.featured h3 {
		font-size: 1.5rem;
	}

	.featured p {
		font-size: 1rem;
		line-height: 1.6;
	}

	.tools {
		padding-left: 2rem;
		padding-right: 2rem;
		margin-bottom: 12rem;
	}

	.tools-inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: var(--max-width-md);
		align-items: start;
		justify-content: space-between;
	}

	.tool {
		width: 50%;
		flex-grow: 1;
		/* height: 20rem; */
		border: 1px solid var(--color-neutral-200);
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	.tool h3 {
		font-size: var(--font-size-lg);
		font-weight: 600;
		color: var(--color-neutral-900);
		margin-bottom: 0.5rem;
	}
	
	.tool p {
		font-size: var(--font-size-base);
		font-weight: 500;
		line-height: 1.45;
		color: var(--color-neutral-600);
		max-width: 36ch;
		margin-bottom: 1.5rem;
	}
	
	.tool:first-child {
		border-left: 0;
		padding-right: 4rem;
	}
	
	.tool:nth-child(2) {
		border-left: 0;
		border-right: 0;
		/* border-left: 1px solid var(--color-neutral-200); */
		padding-left: 4rem;
	}

	@media (max-width: 720px) {
		.about-wrap {
			display: block;
		}

		.about-wrap h3 {
			max-width: none;
			margin-bottom: 1em;
		}

		.about-wrap p {
			max-width: none;
		}

		.tool {
			width: 100%;
		}

		.tool:first-child {
			border-left: 0;
			border-right: 0;
			padding-right: 0``;
		}
		
		.tool:nth-child(2) {
			border-left: 0;
			border-right: 0;
			padding-left: 0;
			border-bottom: 0;
		}
	}

	.illustration {
		width: 100%;
		padding-top: 100%;
		position: relative;
		/* border: 0.5rem solid transparent; */
		/* outline: 1px solid var(--color-neutral-200); */
		border-radius: 1rem;
		overflow: hidden;
		margin-bottom: 4rem;
	}

	.illustration img {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		object-position: top left;
		object-fit: cover;
	}

	.illustration::after {
		content: "";
		display: block;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: radial-gradient(circle at top left, transparent, var(--color-neutral-100) 90%);
		pointer-events: none;
	}

	.side-gradient.illustration::after {
		background: linear-gradient(90deg, transparent, var(--color-neutral-100));
	}

	.illustration .lut-panels {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/* display: flex; */
		/* align-items: center; */
		/* justify-content: center; */
	}

	.illustration .lut-panel {
		position: absolute;
		top: 50%;
		/* transform: translateY(-50%) skewY(-4deg) rotateX(-14deg) rotateY(20deg); */
		transform-style: preserve-3d;
		width: 100%;
		overflow: hidden;
		border-radius: 1rem;
		border: 1px solid hsla(0,0%,100%,.1);
		height: 15rem;
		opacity: 0.8;
		transition: all 0.4s;
	}

	.illustration .lut-panel:first-child {
		transform: translateX(0) translateY(-65%) translateZ(-180px) skewY(-4deg) rotateX(-14deg) rotateY(20deg);
	}
	.illustration .lut-panel:nth-child(2) {
		transform: translateX(3rem) translateY(-50%) translateZ(0) skewY(-4deg) rotateX(-14deg) rotateY(20deg);
	}
	.illustration .lut-panel:nth-child(3) {
		transform: translateX(6rem) translateY(-35%) translateZ(180px) skewY(-4deg) rotateX(-14deg) rotateY(20deg);
	}

	.illustration .lut-panel:first-child:hover {
		transform: translateX(0) translateY(-70%) translateZ(-180px) skewY(-4deg) rotateX(-14deg) rotateY(20deg);
	}
	.illustration .lut-panel:nth-child(2):hover {
		transform: translateX(3rem) translateY(-55%) translateZ(0) skewY(-4deg) rotateX(-14deg) rotateY(20deg);
	}
	.illustration .lut-panel:nth-child(3):hover {
		transform: translateX(6rem) translateY(-40%) translateZ(180px) skewY(-4deg) rotateX(-14deg) rotateY(20deg);
	}

	.clients {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 2rem;
		margin-bottom: 12rem;
	}

	.clients-inner {
		width: 100%;
		max-width: var(--max-width-md);
	}

	.clients h2 {
        font-size: var(--font-size-lg);
        font-weight: 500;
        text-align: center;
    }

    .clients p {
        font-size: var(--font-size-md);
        color: var(--color-neutral-500);
        text-align: center;
        margin-bottom: 4rem;
        max-width: 450px;
        margin: 0 auto 4rem auto;
    }

	.physics {
		display: flex;
		align-items: start;
		justify-content: center;
		padding: 0 2rem;
		margin-bottom: 12rem;
	}

	.physics-inner {
		width: 100%;
		max-width: var(--max-width-md);
	}

	.physics-inner h2 {
		font-size: var(--font-size-3xl);
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 2rem;
		max-width: 18ch;
	}

	.physics-inner p {
		font-size: var(--font-size-md);
		font-weight: 500;
		color: var(--color-neutral-600);
		line-height: 1.6;
		max-width: 40ch;
	}
</style>

<script>
	// const moreWorkBtn = document.getElementById("more-work");
	// const workWrap = document.querySelector(".work-inner");
	// const workMore = document.querySelector(".work-more");
	// moreWorkBtn.addEventListener("pointerup", (e) => {
	// 	workWrap.classList.remove("work-collapse");
	// 	(workMore as HTMLElement).style.display = "none";
	// });
</script>