---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
import Video from "../../components/Video.astro";
---

<WorkLayout title="Hidden Horrors" tags={["3D Modelling", "Retouching", "Compositing", "Texturing"]}>
    <p slot="description">In collaboration with Safe In Harm's Way, DomesticShelters.org, and Neon agency, I crafted and retouched still and motion assets for a PSA campaign to raise awareness of domestic violence. I was responsible for creating an eerie environment in CGI, integrating talent into the scene, color grading, and retouching the final images.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-hiddenhorrors-1.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
            <Img src="gildstudios-hiddenhorrors-2.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
            <Img src="gildstudios-hiddenhorrors-3.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
        
            <div class="grid grid-cols-2 gap-4">
                <Img src="gildstudios-hiddenhorrors-4.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-5.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
            </div>

            <Img src="gildstudios-hiddenhorrors-6.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />

            <Video
                src="/videos/hidden-horrors_hand-turntable.mp4"
                formats={["mp4"]}
                autoplay={true}
                muted={true}
                controls={true}
                loop={true}
            />

            <div class="grid grid-cols-2 gap-4">
                <Img src="gildstudios-hiddenhorrors-insitu-3.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-4.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-7.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-8.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-3.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-4.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-7.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
                <Img src="gildstudios-hiddenhorrors-insitu-8.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
            </div>
        
            <Video
                src="/videos/hidden_horrors.mp4"
                formats={["mp4"]}
                autoplay={true}
                muted={true}
                controls={true}
                loop={true}
            />
        </div>
    </Fragment>
</WorkLayout>