---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { formatDate } from "../../assets/scripts/utils.js";

interface Props {
    title: string;
    thumbnail: string;
    date: Date;
    href: string;
}

const { title, thumbnail, date, href: linkTo } = Astro.props;

// To be able to include images from non-public directory
const thumb_src = `/src/assets/images/journal/${thumbnail}`;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/images/journal/*.{jpg,jpeg,png}",
);
if (!images[thumb_src]) {
    throw new Error(`"${thumb_src}" not found in "/src/assets/images/journal/`);
}
---

<div class="journal-item">
    <a href=`journal/${linkTo}` class="journal-image">
        <Image src={images[thumb_src]()} alt=`${title}'s thumbnail` />
    </a>
    <div class="journal-preview">
        <p class="journal-date">
            {
                formatDate(date, {
                    month: "long",
                    day: "numeric",
                    year: "numeric",
                })
            }
        </p>
        <h3><a href=`journal/${linkTo}`>{title}</a></h3>
        <a href=`journal/${linkTo}` class="journal-more">Read More</a>
    </div>
</div>

<style>
    .journal-item {
        overflow: hidden;
        flex: 1 1 calc(100% / 3 - 2rem);
        max-width: calc(100% / 3);
    }

    .journal-image {
        border-radius: 1rem;
        display: block;
        /* TODO: aspect-ratio fallback! */
        aspect-ratio: 16 / 9;
        /* height: 16rem; */
        overflow: hidden;
    }

    .journal-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .journal-preview {
        padding: 1rem 0;
        color: var(--tertiary-color);
    }

    .journal-date {
        font-size: 0.875rem !important;
        color: var(--tertiary-color);
        /* text-transform: uppercase; */
        margin-bottom: 0.875rem;
    }

    .journal-preview h3 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: var(--primary-color);
        letter-spacing: var(--letter-spacing-1);
    }

    .journal-preview h3 a {
        color: inherit;
        text-decoration: none;
    }

    .journal-intro {
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .journal-more {
        position: relative;
        color: var(--tertiary-color);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 0.33rem;
    }

    .journal-more::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--gradient-primary);
        border-radius: 2px;
        bottom: 0;
        left: 0;
    }

    @media (max-width: 768px) {
        .journal-item {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
</style>
