---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { slugify } from "../../assets/scripts/utils.js";
import Img from "../../components/Img.astro";

export async function getStaticPaths() {
    const caseStudies = await getCollection("case-studies");
    return caseStudies.map((caseStudy) => ({
        params: { slug: caseStudy.slug },
        props: { caseStudy },
    }));
}

const { caseStudy } = Astro.props;
const { Content } = await caseStudy.render();
---

<Layout title=`${caseStudy.data.title} by Viktor Fejes`>
    <article class="case-study">
        <div class="header">
            <div class="des">Case Study</div>
            <h1 class="title">{caseStudy.data.title}</h1>
            <div class="desc">{caseStudy.data.description}</div>
        </div>
        <!-- <dl class="meta">
            {caseStudy.data.tags &&
            <div>
                <dt>Role</dt>
                <dd>
                    {caseStudy.data.tags.map((tag) =>
                    <span class="tag">{tag}</span>
                    )}
                </dd>
            </div>
            }
            <div>
                <dt>Software</dt>
                <dd>Maya, Photoshop, Quixel</dd>
            </div>
            {caseStudy.data.client &&
            <div>
                <dt>Client</dt>
                <dd>{caseStudy.data.client}</dd>
            </div>
            }
        </dl> -->
        <div class="md-content">
            <Content />
        </div>
    </article>
</Layout>

<style>
    .header {
        margin-top: 8rem;
    }

    .desc {
        font-size: var(--font-size-md);
        font-weight: 500;
        text-align: center;
        color: var(--color-neutral-700);
        max-width: 42rem;
        margin: 0 auto;
        margin-bottom: 4rem;
        line-height: 1.6;
    }

    .des {
        font-size: var(--font-size-sm);
        font-weight: 700;
        text-align: center;
        color: var(--color-secondary-500);
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }

    .title {
        font-size: var(--font-size-4xl);
        font-weight: 700;
        text-align: center;
        letter-spacing: -.022em;
        color: var(--color-neutral-900);
        margin-bottom: 1rem;
    }

    .hero-image {
        width: 100%;
        max-width: var(--max-width-lg);
        margin: 0 auto;
        overflow: hidden;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    .meta {
        display: flex;
        align-items: start;
        justify-content: start;
        margin: 0 auto;
        margin-bottom: 8rem;
        width: 100%;
        max-width: var(--max-width-lg);
    }

    .meta dt {
        font-size: var(--font-size-sm);
        font-weight: 600;
        color: var(--color-neutral-600);
    }

    .meta dd {
        font-size: var(--font-size-base);
        font-weight: 600;
        color: var(--color-neutral-900);
    }

    .meta div {
        padding: 0.1rem 2.5rem;
        border-right: 1px solid var(--color-neutral-200);
    }

    .meta div:last-child {
        border-right: 0;
    }

    .tag::after {
        content: ", ";
    }

    .tag:last-of-type::after {
        content: "";
    }
</style>

<style is:global>
    .md-content p {
        width: 100%;
        max-width: var(--max-width-sm);
        font-size: var(--font-size-md);
        font-weight: 500;
        color: var(--color-neutral-700);
        line-height: 1.6;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .md-content img,
    .md-content video {
        /* max-width: var(--max-width-lg); */
        /* margin: 0 auto; */
        /* margin-bottom: 4rem; */
        /* margin-top: 4rem; */
        border-radius: 0.5rem;
    }

    .md-content h2 {
        font-size: var(--font-size-3xl);
        font-weight: 600;
        letter-spacing: -0.022em;
        margin: 0 auto;
        max-width: var(--max-width-sm);
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .md-content hr {
        border-color: var(--color-neutral-200);
        margin: 8rem auto;
        max-width: var(--max-width-md);
    }
</style>