---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { injectSpanLetters, slugify } from "../../assets/scripts/utils.js";
import ToolTags from "../../components/ToolTags.astro";

export async function getStaticPaths() {
    const caseStudies = await getCollection("case-studies");
    return caseStudies.map((caseStudy) => ({
        params: { slug: caseStudy.slug },
        props: { caseStudy },
    }));
}

const { caseStudy } = Astro.props;
const { Content } = await caseStudy.render();

const titleLetters = injectSpanLetters(caseStudy.data.title);
---

<Layout title=`${caseStudy.data.title} by Viktor Fejes` theme="dark">
    <article class="case-study">
        <header class="case-study-header">
            <p class="case-study-marker">Case Study</p>
            <h1 class="case-study-title">
                {
                    titleLetters.map((letter) =>
                        letter.class ? (
                            <span class={letter.class}>{letter.char}</span>
                        ) : (
                            letter.char
                        ),
                    )
                }
            </h1>
            <div class="case-study-desc">
                <p>{caseStudy.data.description}</p>
            </div>
        </header>
        <div class="case-study-body">
            <Content />
        </div>
        <div class="case-study-meta">
            <ToolTags tags={caseStudy.data.software} />
        </div>
    </article>
</Layout>

<style>
    .case-study {
        padding: 5rem var(--padding-side);
        /* padding-top: 5rem; */
    }

    .case-study-header {
        width: 100%;
        max-width: var(--journal-width);
        margin: 0 auto;
        margin-bottom: 8rem;
    }

    .case-study-marker {
        font-weight: 400;
        color: var(--tertiary-color);
        margin-bottom: 0;
    }

    .case-study-title {
        font-size: 5rem;
        font-weight: 650;
        margin: 0;
        margin-bottom: 3rem;
        color: var(--primary-color);

        font-size: 3.5rem;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: var(--offwhite-color);
        /* cursor: default;
        background: linear-gradient(
            109.6deg,
            #ff1886 11.2%,
            #fce844 52%,
            #35b2ef 100.2%
        );
        background-clip: text; */
    }

    /* .case-study-title span {
        transition: color 0.3s;
        transition-delay: 1s;
    }
    .case-study-title span:hover {
        color: transparent;
        transition-delay: 0s;
    } */

    .case-study-desc p {
        font-size: 1.25rem;
        font-weight: 400;
        color: var(--tertiary-color);
        line-height: 1.65;
        max-width: 40rem;
    }

    .case-study-body {
        width: 100%;
        max-width: var(--content-width);
        margin: 0 auto;
    }

    .case-study-body :global(img),
    .case-study-body :global(video) {
        width: 100%;
        height: auto;
    }

    .case-study-body :global(p) {
        width: 100%;
        max-width: var(--thin-width);
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.25rem;
        line-height: 1.65;
        color: var(--offwhite-color);
    }

    .case-study-body :global(h2) {
        font-size: 2.125rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        line-height: 1.2;
        max-width: var(--thin-width);
        margin: 0 auto;
        margin-top: 5rem;
        margin-bottom: 2rem;
        color: var(--offwhite-color);
    }

    .case-study-body :global(a) {
        color: var(--primary-color);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-color 0.3s;
    }

    .case-study-body :global(a:hover) {
        border-color: var(--primary-color);
    }

    .case-study-meta {
        width: 100%;
        max-width: var(--journal-width);
        margin: 0 auto;
        margin-top: 5rem;
    }

    .software-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li.software {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        background-color: #191919;
        color: var(--tertiary-color);
        /* border: 4px solid #131313; */
        border: 1px solid #222;
        padding: 0.5rem 0.825rem;
        border-radius: 0.5rem;
        font-size: 0.875rem;
    }

    li.software a {
        color: var(--tertiary-color);
        text-decoration: none;
    }

    li.software::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        background: url("/software-icons.png");
        background-position: 0 0;
        background-size: 128px 64px;
    }

    li.software.marvelous-designer-icon::before {
        background-position: -1rem -2rem;
    }

    li.software.rizom-icon::before {
        background-position: -1rem 0;
    }

    li.software.max-icon::before {
        background-position: -2rem 0;
    }

    li.software.maya-icon::before {
        background-position: -3rem 0;
    }

    li.software.blender-icon::before {
        background-position: -4rem 0;
    }

    li.software.v-ray-icon::before {
        background-position: -5rem 0;
    }

    li.software.corona-icon::before {
        background-position: -6rem 0;
    }

    li.software.zbrush-icon::before {
        background-position: -7rem 0;
    }

    li.software.photoshop-icon::before {
        background-position: 0 -1rem;
    }

    li.software.substance-designer-icon::before {
        background-position: -1rem -1rem;
    }

    li.software.substance-painter-icon::before {
        background-position: -2rem -1rem;
    }

    li.software.wrap-icon::before {
        background-position: -3rem -1rem;
    }
</style>
